/* styles for my portal page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear-fix {
  display: flow-root;  
}

:root {
  --cerulean: #4484ce;
  --aluminum: #d9d9d9;
  --light: #f9cf00;
  --tangerine: #f19f4d;
}  

body {
  background: var(--aluminum);
}

#wrapper {
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px 0;
}

#content-wrapper {
  background-color:var(--cerulean);
}

nav {
  height: 50px;
  background: lightsteelblue;
  line-height: 50px;
}

nav li {
  width: 16.66%;
  float: left;
  list-style-type: none;
  text-align: center;

  background-color: dodgerblue;
}

main {
  width: 63%;
  float: left;
  margin: 20px 0;
}

main div {
  margin-bottom: 10px;
}

aside {
  width: 35%;
  float: right;
  margin:20px 0;
  background-color: var(--tangerine);
}
aside h4 {
  margin-top: 3px;
}

aside li {
  margin: 5px 0 0 5px ;
  list-style-type: none;  
}

footer {
  clear:both;
}

footer li {
  float: left;
  margin-right: 30px;
  list-style-type: none;
}

#profile-img {
  border-top-left-radius: 45%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 5% ;
  width: 160px;
}

.mamp-image {
  display: block;
  max-width: 95%;
  margin: 0 auto 10px;
}