/* Styles for CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
}

header {
  /* height: 200px; */
  background: yellow;
  overflow: hidden; /*why */
  padding: 20px 0;
}

#inner-header, 
#inner-footer {
  margin: 0 auto;
  max-width: 1200px;
}

/* Style for current item on Page navigation menu */
.current {
  color: red;
}


#logo {
  float: left;
  width: 170px;
}

nav ul {
  float: right;
  margin-top: 50px;
}

nav li {
  float: left;
  margin-left: 15px;
  list-style-type: none;
}

nav a {
  text-decoration: none
}

#wrapper-buffer {
  margin: 20px auto 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 100%;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

/* daily page */
.daily-detail h1 {
  padding: 10px 10px 5px;
}

.detail-wrapper {
  padding: 5px 5px;
  margin: 10px 20px;
}

#hero {
  height: 100px;
  background: #f00;
  margin-bottom: 20px;
  clear:both;
}

main {
  width: 63%;
  /* height: 400px; */
  padding: 5px;
  background: lightblue;
  margin-bottom: 20px;
  float: left;
}

aside {
  width: 35%;
  float: right;
}

aside img {
  max-width: 100%;
  height: auto;
}

main img {
  max-width: 100%;
  height: auto;
}

#footer-clear {
  clear: both;
}

footer {
  border-top: 1px solid #777;
  border-bottom: 1px solid #444;
  background: #bbb;
  height: 80px;
  line-height: 50px; /* center vertically */
}

footer li {
  float:left;
  margin-right: 30px;
  list-style-type: none;
}

/* Contact styles */

form { 
  width:500px;
  margin:20px auto;
}

fieldset {
  font-size: 1.1em;
  border: 2px solid #444;
  padding: 10px;
  border-radius: 5px;
}

legend {
  background-color: #444;
  color: #fff;
  padding: 6px 8px;
}

label{
  display:block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

form ul{
  list-style:none;
  margin:0 0 10px 10px;
}

input[type=text],
input[type=email],
input[type=tel],
select {
  display: block;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1em;
}

input[type=submit] {
  display: block;
  font-size: .9em;
  margin: 0 auto;
  width: 50%;
}

textarea {
  width: 100%;
  height: 6em;
  font-size: 12pt;
  resize: none;
}

.error{
  display:block;  
  color:red;
  font-style:italic;
  margin: 5px 0 10px 0;
}

.reset {
  display: block;
  margin: 5px auto;
}

/* Daily Image styles */

.daily-image {
  max-width: 600px;
}

.daily-detail {
  max-width: 600px;
}
.daily-image-title {
  text-align: right;
}
.item-credit {
  margin: 20px 5px 20px;
}

.daily-menu {
  margin: 10px 0;
}

.daily-menu ul {
  float: left;
  margin-bottom: 1em;
}

.daily-menu li {
  float: left;
  margin-right: 30px;
  list-style-type: none;
}

.socata {
  background:#1391CC;
  color:beige;
}

.mooney {
  background:#b97;
  color:beige;
}

.fairchild {
  background:#cc3d3d;
  color:beige;
}

.waco {
  background:#CC1736;
  color:beige;
}

.thorp {
  background:#579;
  color:beige;
}

.swift {
  background:#353;
  color:beige;
}

/* Gallery Page styles */

.list-logo {
    max-width: 100px;
    height: auto;
}

.list-image {
  max-width: 250px;
  height: auto;
}

.gallery-caption{
  margin: 5px 0 20px;
}