/* styles for my portal page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear-fix {
  display: flow-root;  
}

body {
  background: beige;
}

#wrapper {
  margin: 20px auto;
  max-width: 1200px;
}

#xx-content-wrapper {
  max-width: 800px;
  background-color:darkgoldenrod;
  border-color: red;
  min-height: 100px;
}

nav {
  height: 50px;
  background: chartreuse;
  line-height: 50px;
}

nav li {
  width: 16.66%;
  float: left;
  list-style-type: none;
  text-align: center;
}

main {
  width: 63%;
  float: left;
}

aside {
  width: 35%;
  float: right;
}

footer {
  clear:both;
}

footer li {
  float: left;
  margin-right: 30px;
  list-style-type: none;
}