/* styles for my portal page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear-fix {
  display: flow-root;  
}

body {
  background: beige;
}

#wrapper {
  margin: 20px auto;
  max-width: 1200px;
}

#content-wrapper {
  background-color:lightskyblue;
  border: 2px red solid;
  height: 600px;
}

nav {
  height: 50px;
  background: lightsteelblue;
  line-height: 50px;
}

nav li {
  width: 16.66%;
  float: left;
  list-style-type: none;
  text-align: center;
}

main {
  width: 63%;
  float: left;
  border: 2px green solid;
}

aside {
  width: 35%;
  float: right;
  border: 2px blue solid;
}

footer {
  clear:both;
}

footer li {
  float: left;
  margin-right: 30px;
  list-style-type: none;
}

main div {
  margin-bottom: 10px;
  border: 2px black dashed;
}

#mamp-install {
  border: 2px red solid;
}

.mamp-image {
  display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#profile-img {
  border-radius: 40%;
  width: 160px;
}